<div id="staff-list">
  <div class="pics">
    <div class="c-staff">
      <st class="haigler">
      <%= image_tag("staff/avatar3.jpg", size: '250x230') %>
      </st>
      <st class="leroy">
      <%= image_tag("staff/leroy-durant.jpg", size: '400x350')%>
      </st>
      <span class="devin">
        <%= image_tag("staff/devin-randolph.jpg", size: '300x330') %>
      </span>
    </div>
  </div>
</div>
